node_modules
# Virtual environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# IDE / Editor configs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.pdb

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build / packaging
*.egg
*.egg-info/
dist/
build/
